@import 'tailwindcss';

@font-face {
  font-family: 'FuturaNow Headline Regular';
  src: url('/fonts/futura-now/FuturaNowHeadlineRegular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'FuturaNow Headline Bold';
  src: url('/fonts/futura-now/FuturaNowHeadlineBold.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter Reglar';
  src: url('/fonts/inter/InterRegular.woff2');
  font-display: swap;
}

@theme inline {
  --font-title: 'FuturaNow Headline Bold', sans-serif;
  --font-subtitle: 'FuturaNow Headline Regular', sans-serif;
  --font-body: 'Inter Reglar', sans-serif;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);

  --color-card-background: var(--card-background);
  --color-card-border: var(--card-border);
  --color-card-text: var(--card-text);
  --color-card-span: var(--card--span);
  --color-card-span-text: var(--card--span-text);
}

@layer base {
  :root,
  .light {
    --primary: #4a5568;
    --secondary: #4d61d4;
    --background: #faf5e9;
    --card-background: #f0f4f8;
    --card-border: #e2e8f0;
    --card-text: #4a5568;
    --card--span: #e2e8f0;
    --card--span-text: #1e293b;
  }

  .dark {
    --primary: #f7fafc;
    --secondary: #f6ad55;
    --background: #2d3748;
    --card-background: #1a202c;
    --card-border: #2d3748;
    --card-text: #f7fafc;
    --card--span: #334155;
    --card--span-text: #f8fafc;
  }
}

html {
  scroll-behavior: smooth;
}
